<nav class="navbar navbar-light">
  <div class="container">
  <%= link_to "conduit", root_path, class: "navbar-brand", id: "logo" %>

    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <%= link_to "Articles", root_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
      <%= link_to "People", users_path, class: "nav-link"%>
      </li>
      <% if logged_in? %>
  <!-- ログイン中のユーザーには、ユーザーアイコンとログアウトリンクを表示 -->
      <li class="nav-item">
        <%= button_to "Log out", logout_url, class: "nav-link", method: :delete %>
        </li>
       <% else %>
  <!-- ログインしていないユーザーには、ログインとサインアップリンクを表示 -->
        <li class="nav-item">
          <%= link_to "Log in", login_path, class: "nav-link" %>
         </li>
        <li class="nav-item">
          <%= link_to "Sign up", signup_path, class: "nav-link" %>
        </li>
      <% end %>
      
    </ul>
  </div>
</nav>